OPENSAFELY_JOB_SERVER_ENDPOINT=http://job-server:8000/jobs/
OPENSAFELY_QUEUE_USER=xxx
OPENSAFELY_QUEUE_PASS=xxx
OPENSAFELY_HIGH_PRIVACY_STORAGE_BASE=/tmp/outputs/high_security
OPENSAFELY_MEDIUM_PRIVACY_STORAGE_BASE=/tmp/outputs/medium_security
OPENSAFELY_BACKEND=tpp
